.user-avatar {
	margin-top: 5px;
	width: 100%;
}
.wall-message {
	border: solid #eee;
	border-width: 0 0 1px 0;
	margin-bottom: 1em;
}
.wall-message:last-child {
	border-width: 0;
}
.wall-message .close {
	font-size: 25px;
	position: relative;
	top: 20px;
	z-index: 10;
}
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.form-signup {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signup .form-signup-heading {
	margin-bottom: 10px;
}
.form-signup .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signup .form-control:focus {
	z-index: 2;
}
.form-signup input#user_login {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signup input#user_password {
	margin-bottom: -1px;
	border-radius: 0;
}
.form-signup input#user_password_repeat {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}